.git.full {
	height: 100%;
}

.git.container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.git.container .ui.menu {
	border-radius: 0;
	margin: 0;
}

.git.content {
	display: flex;
	flex: 1;
	overflow: hidden;
}

.git.content .git.side {
	flex: 0 0 auto;
	overflow: auto;
}

.git.content .git.article {
	flex: 1 1 auto;
	padding: 0.92857143em 1.14285714em;
	overflow: auto;
}

.git.article .masthead {
	margin-bottom: 1.2em;
}